In [10]:
import pandas as pd
import numpy as np

In [11]:
df_household = pd.read_excel('household_bmc.xlsx')
df_vehicle = pd.read_excel('vehicle_bmc.xlsx')
df_person = pd.read_excel('person_bmc.xlsx')
df_trip = pd.read_excel('trip_bmc.xlsx')

In [12]:
df_household.replace(-9, np.nan, inplace=True)
df_vehicle.replace(-9, np.nan, inplace=True)
df_person.replace(-9, np.nan, inplace=True)
df_trip.replace(-9, np.nan, inplace=True)

In [13]:
print(df_household)
print(df_vehicle)
print(df_person)
print(df_trip)

      household_id  in_tpb  in_bmc  home_state_fips home_state_puma  \
0        140000006       0       0               24        24_00100
1        140000013       0       0               24        24_00100
2        140000017       0       0               24        24_00100
3        140000019       0       0               24        24_00100
4        140000024       0       0               24        24_00100
...            ...     ...     ...              ...             ...
8308     180256058       1       1               24        24_01201
8309     180256271       1       1               24        24_00902
8310     180256360       1       1               24        24_01204
8311     180256797       1       1               24        24_00902
8312     180256875       1       1               24        24_01203

      area_type  home_state_county_fips  home_tract_fips  home_tract_fips20  \
0            10                   24001              100                100
1            10                   24001              200                200
2            10                   24001              200                200
3            10                   24001              200                200
4            10                   24001              200                200
...         ...                     ...              ...                ...
8308         12                   24003           740602             740602
8309         13                   24027           606601             606601
8310         11                   24003           706401             706401
8311         12                   24027           606905             606905
8312         12                   24003           731307             731307

      race_ethnicity_recode  ...  numchildren_total_online shop  \
0                       NaN  ...                            NaN
1                       NaN  ...                            NaN
2                       NaN  ...                            NaN
3                       NaN  ...                            NaN
4                       NaN  ...                            NaN
...                     ...  ...                            ...
8308                    NaN  ...                            2.0
8309                    NaN  ...                            0.0
8310                    NaN  ...                            0.0
8311                    NaN  ...                            0.0
8312                    NaN  ...                            0.0

      Age of Householder  hhtype_online shop  package_delivered  \
0                    NaN                 NaN                  0
1                    NaN                 NaN                  0
2                    NaN                 NaN                  0
3                    NaN                 NaN                  0
4                    NaN                 NaN                  0
...                  ...                 ...                ...
8308                 NaN                 3.0                  1
8309                 NaN                 1.0                  0
8310                 NaN                 1.0                  0
8311                 NaN                 1.0                  0
8312                 NaN                 5.0                  0

      food_delivered  service_delivered     wthhfin  home_ownership_imp  \
0                  0                  0  138.115797                 NaN
1                  0                  0  133.612036                 NaN
2                  0                  0  205.558943                 NaN
3                  0                  0  191.986144                 NaN
4                  0                  0  133.612036                 NaN
...              ...                ...         ...                 ...
8308               1                  0  143.338514                 0.0
8309               0                  0  123.762848                 0.0
8310               0                  0   68.116052                 0.0
8311               0                  0   50.871756                 0.0
8312               0                  0   36.146855                 0.0

      hh_income_detailed_imp  numdisabilities_imp
0                        NaN                  NaN
1                        NaN                  NaN
2                        NaN                  NaN
3                        NaN                  NaN
4                        NaN                  NaN
...                      ...                  ...
8308                     0.0                  0.0
8309                     0.0                  0.0
8310                     0.0                  0.0
8311                     0.0                  0.0
8312                     1.0                  0.0

[8313 rows x 66 columns]
          ID  household_id         vehid  vehnum    year  bodytype       make  \
0          1     140000006  140000006101       1  2017.0       3.0       Jeep
1          2     140000006  140000006102       2  1997.0       4.0  Chevrolet
2          3     140000013  140000013101       1  2014.0       1.0    Hyundai
3          4     140000013  140000013102       2  2008.0       1.0    Hyundai
4          5     140000013  140000013103       3  2004.0       3.0      Honda
...      ...           ...           ...     ...     ...       ...        ...
15306  15307     180256058  180256058101       1  2016.0       3.0     Toyota
15307  15308     180256271  180256271101       1  2012.0       1.0      Honda
15308  15309     180256360  180256360101       1  2016.0       1.0     Subaru
15309  15310     180256797  180256797101       1  2018.0       1.0      Honda
15310  15311     180256875  180256875101       1  2011.0       3.0      Honda

                  model  fueltype  tolltransponder
0               Compass       1.0              2.0
1      S-10/T-10 Pickup       1.0              2.0
2                Sonata       4.0              2.0
3                Accent       1.0              2.0
4                 Pilot       1.0              2.0
...                 ...       ...              ...
15306        Highlander       1.0              2.0
15307            Accord       1.0              2.0
15308               WRX       1.0              1.0
15309            Accord       1.0              1.0
15310              CR-V       1.0              2.0

[15311 rows x 10 columns]
       household_id    person_id  persno transit_commuter  Travel Mode_TAT  \
0         140000374  14000037402       2              NaN              NaN
1         140000376  14000037601       1              NaN              NaN
2         140000382  14000038201       1              NaN              NaN
3         140000384  14000038401       1              NaN              NaN
4         140000390  14000039001       1              NaN              NaN
...             ...          ...     ...              ...              ...
17853     180256058  18025605804       4              NaN              NaN
17854     180256271  18025627101       1              NaN              NaN
17855     180256360  18025636001       1              NaN              NaN
17856     180256797  18025679701       1              NaN              NaN
17857     180256875  18025687501       1              NaN              NaN

       Trip Purpose_TAT   age  Non-Motorized Travel  transit_travel_mode  \
0                   NaN  81.0                   NaN                  NaN
1                   NaN  53.0                   1.0                  NaN
2                   NaN  77.0                   NaN                  NaN
3                   NaN  84.0                   NaN                  NaN
4                   NaN  74.0                   NaN                  NaN
...                 ...   ...                   ...                  ...
17853               NaN  10.0                   NaN                  NaN
17854               NaN  75.0                   NaN                  NaN
17855               NaN  38.0                   NaN                  NaN
17856               NaN  65.0                   NaN                  NaN
17857               NaN  56.0                   NaN                  NaN

       transit_access_mode  ...  td_shop_time_number  person_tripcount  \
0                      NaN  ...                  0.0                 4
1                      NaN  ...                  0.0                 7
2                      NaN  ...                  0.0                 4
3                      NaN  ...                  1.0                 0
4                      NaN  ...                  0.0                 3
...                    ...  ...                  ...               ...
17853                  NaN  ...                  0.0                 0
17854                  NaN  ...                  0.0                 4
17855                  NaN  ...                  0.0                 7
17856                  NaN  ...                  0.0                 2
17857                  NaN  ...                  0.0                11

       walk_bike_loop_trips    wtperfin  age_imp  gender_imp  \
0                       NaN   34.762423      NaN         NaN
1                       1.0   35.934187      NaN         NaN
2                       NaN   35.934187      NaN         NaN
3                       NaN   35.934187      NaN         NaN
4                       NaN   34.762423      NaN         NaN
...                     ...         ...      ...         ...
17853                   NaN  143.338514      0.0         0.0
17854                   0.0  123.762848      0.0         0.0
17855                   1.0   68.116052      0.0         0.0
17856                   0.0   50.871756      0.0         0.0
17857                   0.0   36.146855      0.0         0.0

       raceethnicity_imp  disability_imp  worker  raceethnicity_hispanic_imp
0                    NaN             NaN       2                         NaN
1                    NaN             NaN       1                         NaN
2                    NaN             NaN       2                         NaN
3                    NaN             NaN       2                         NaN
4                    NaN             NaN       2                         NaN
...                  ...             ...     ...                         ...
17853                0.0             0.0       2                         0.0
17854                0.0             0.0       1                         0.0
17855                0.0             0.0       1                         0.0
17856                1.0             0.0       1                         1.0
17857                0.0             0.0       2                         0.0

[17858 rows x 80 columns]
       household_id    person_id         tripid  persno  tripno  \
0         140000006  14000000601  1400000060101       1       1
1         140000006  14000000601  1400000060102       1       2
2         140000013  14000001301  1400000130101       1       1
3         140000013  14000001301  1400000130102       1       2
4         140000013  14000001301  1400000130103       1       3
...             ...          ...            ...     ...     ...
59908     180256875  18025687501  1802568750107       1       7
59909     180256875  18025687501  1802568750108       1       8
59910     180256875  18025687501  1802568750109       1       9
59911     180256875  18025687501  1802568750110       1      10
59912     180256875  18025687501  1802568750111       1      11

       home_state_county_fips  o_activity  o_activity_recode  o_state_fips  \
0                         NaN         1.0                NaN          24.0
1                         NaN         7.0                NaN          24.0
2                         NaN         1.0                NaN          24.0
3                         NaN        10.0                NaN          24.0
4                         NaN         5.0                NaN          24.0
...                       ...         ...                ...           ...
59908                 24003.0        16.0                NaN          24.0
59909                 24003.0        16.0                NaN          24.0
59910                 24003.0         7.0                NaN          24.0
59911                 24003.0        16.0                NaN          24.0
59912                 24003.0        16.0                NaN          24.0

      o_state_county_fips  ...  subway_access_mode  subway_station_exit  \
0                   24001  ...                 NaN                  NaN
1                   24001  ...                 NaN                  NaN
2                   24001  ...                 NaN                  NaN
3                   24001  ...                 NaN                  NaN
4                   24001  ...                 NaN                  NaN
...                   ...  ...                 ...                  ...
59908               24003  ...                 NaN                  NaN
59909               24003  ...                 NaN                  NaN
59910               24003  ...                 NaN                  NaN
59911               24003  ...                 NaN                  NaN
59912               24003  ...                 NaN                  NaN

       subway_egress_mode  hov_used  toll_road_used  distance  \
0                     NaN       NaN             NaN     2.118
1                     NaN       NaN             NaN     2.118
2                     NaN       NaN             NaN    16.610
3                     NaN       NaN             NaN     0.851
4                     NaN       NaN             NaN    16.109
...                   ...       ...             ...       ...
59908                 NaN       NaN             NaN     7.110
59909                 NaN       NaN             NaN     2.842
59910                 NaN       NaN             NaN     2.842
59911                 NaN       NaN             NaN     7.110
59912                 NaN       NaN             NaN     0.235

       distance_weighted reported_travel_time  reported_travel_time_recode  \
0             292.529258                  5.0                          NaN
1             292.529258                  5.0                          NaN
2            2219.295911                 25.0                          NaN
3             113.703842                  5.0                          NaN
4            2152.356282                 45.0                          NaN
...                  ...                  ...                          ...
59908         257.004136                 15.0                          NaN
59909         102.729361                  5.0                          NaN
59910         102.729361                  5.0                          NaN
59911         257.004136                 15.0                          NaN
59912           8.494511                  5.0                          NaN

         wttrdfin
0      138.115797
1      138.115797
2      133.612036
3      133.612036
4      133.612036
...           ...
59908   36.146855
59909   36.146855
59910   36.146855
59911   36.146855
59912   36.146855

[59913 rows x 60 columns]

In [29]:
df_consolidated = df_person.copy()
df_trip["staying_time"] = 0
max_trips = df_trip['tripno'].max()

# Create an empty list to hold the DataFrames for concatenation
dfs_to_concat = [df_consolidated]
# Iterate over the columns of df_trip
for col in df_trip.columns:
    if col not in ['household_id', 'person_id', 'trip_id', 'persno']:
        # Create a DataFrame with columns named col_i, where i is the trip number
        temp_df = pd.DataFrame(0, index=df_person.index, columns=[f'{col}_{i}' for i in range(1, max_trips + 1)])
        dfs_to_concat.append(temp_df)

# Concatenate all the DataFrames in the list along the axis 1 (columns)
df_consolidated = pd.concat(dfs_to_concat, axis=1)

0        0
1        0
2        0
3        0
4        0
        ..
17853    0
17854    0
17855    0
17856    0
17857    0
Name: tripno_22, Length: 17858, dtype: int64

In [18]:
    data = {'col1': [1, 7, 3], 'col2': [4, 5, 6]}
    df = pd.DataFrame(data)
    
    def my_function(row):
        if row['col1'] > row['col2']:
            return 'greater'
        else:
            return 'less_or_equal'
    
    df['new_col'] = df.apply(my_function, axis=1)
    print(df)

   col1  col2        new_col
0     1     4  less_or_equal
1     7     5        greater
2     3     6  less_or_equal